/* Layout of page */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: white;
    padding: 20px;
    background-color: lightblue;
  }
  
  .container {
    text-align: center;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  h1 {
    margin-bottom: 30px;
    color: #333;
  }
  
  /* Input box and drop down menu styling */ 
  input[type="text"], select {
    width: 70%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 16px;
    background: white;
    color: black;
    text-align-last: center;
  }
  
    /* Input button and drop down button styling */ 
  input, button {
    width: 70%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #007BFF;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
    margin-bottom: 10px;  
  }
  
  select {
    margin-bottom: 10px;
    color:gray;
  }

  select option {
    color: black;
  }

  button:hover {
    background: #0056b3;
  }
  
  #page-name {
    font-family: Arial, sans-serif;
    display: flex;
    font-weight: bold;
    justify-content: center;
    text-align:center;
    padding: 10px;
    color: black;
    font-size: 32px;
    position: absolute;
    top: 0;
    width:50%;
  }

  h2 {
    margin-bottom: 10px;
  }

  p {
    margin-bottom: 10px;
    font-weight: bold;
  }

  /* AQI Indicators */ 
  .aqi-good {
    color: green !important;
  }

  .aqi-moderate {
    color: #d6d625 !important;
  }
  
  .aqi-unhealthy {
    color: orange !important;
  }

  .aqi-very-unhealthy {
    color: red !important;
  }

  .aqi-hazardous {
    color: purple !important;
  }